


  <div class="login">

  <div class="left-side">
    <div class="forms">
      <h1>Login</h1>
      <p class="login-title">
        It is good to see you again, sign in to continue
      </p>

      <div class="inputs">
        <div>
          <input
          placeholder="Email"
          [ngClass]="{error: email.errors}"
          type="text"
          [formControl]="email"/>

          <p class="theError"
          *ngIf="email.errors?.['required']">
            Email is required.
          </p>
          <p class="theError"
          *ngIf="email.errors?.['email']">
            Invalid Email format
          </p>
        </div>

        <div>
          <input
          placeholder="Password"
          type="text"
          [ngClass]="{error: password.errors}"
          [formControl]="password"
          type="password"/>

          <p class="theError"
          *ngIf="password.errors?.['required']">
            Password is required.
          </p>
           <p class="theError"
           *ngIf="password.errors?.['minlength']">
             Password must be at least 4 characters long.
           </p>
           <p class="theError"
           *ngIf="password.errors?.['maxLength']">
            Password must be maximium 16 characters long.
           </p>
        </div>

      </div>
      <div class="mid">
        <div class="remember">
          <input type="checkbox" id="remember">
          <label for="remember">Remember me</label>
          </div>

          <p class="forgotPassword">Forget Password?</p>
      </div>

      <button class="loginBtn" >Login</button>
      <div class="extra">
        <p class="question">Not registered yet?</p>
        <p class="link">Register</p>
    </div>

    <div class="socials">
      <p>Or login with</p>
      <div class="social-icons">
       <div class="s-element">
        <img src="../assets/google.svg" alt="facebook">
       </div>

       <div class="s-element">
        <img src="../assets/apple.svg" alt="facebook">
       </div>

       <div class="s-element">
        <img src="../assets/facebook.svg" alt="facebook">
       </div>

      </div>
      </div>




    </div>
  </div>

  <div class="right-side">
    <div class="img-container">
      <img src="../assets/map.png" alt="map">
    </div>
  </div>
  </div>





<router-outlet></router-outlet>
